/* RESET O NAVEGADOR 

*{
  margin: 0;
  padding: 0;
box-sizing: boder-box;
}
/* altera a cor de fundo e a fonte de letras */
body {
    background-color:bisque
    font-family: sans-serif;
}

.cabecalho {
   background-color:cadetblue;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* posiçao do texto, tamanho do texto espaço em 
relaçao ao topo e ao rodape */
h1 {
    text-align: center;
    font-size 50px;;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*alinha no centro , escolhe a fonte ,cor da fonte 
tamanho da fonte e espaço do texto em relaçao ao elemento 
de baixo*/
p {
    text-align: center;
    font-family: cursive;
    color: white;
}